__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.env.*
venv/
.envrc
.idea/
.vscode/
samples/
tests/
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.zip
*.tar
*.tar.gz
*.egg-info/
*.egg
*.whl
*.ipynb
*model*
*checkpoint*
*weights*
*data*
*cache*
*tmp*
*output*
*dist*
*build*
*__MACOSX*/
*.DS_Store
*/* >1000000
